@import url('varColors.css');

.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form-group {
    margin-bottom: 20px;
}

.login-password-wrapper {
    display: flex;
    align-items: center;
}

.login-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-password-wrapper .login-input {
    flex: 1;
}

.login-show-password-btn {
    background: none;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    color: #555;
    padding: 0;
}

.login-actions {
    text-align: center;
    margin-top: 20px;
}

/* Diseño de formulario */
.filtros,
.formulario {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.filtros div,
.formulario div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filtros div > div,
.formulario div > div {
    flex: 1 1 180px;
}

.filtroDeLista {
    position: relative; /* Importante para posicionar la lista si es necesario */
}

.campoBusqueda {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--blanco);
    border-radius: 4px;
}

.listaResultados {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0px solid var(--blanco);
    border-top: none;
    max-height: 200px; /* Limita la altura y permite scroll si hay muchos resultados */
    overflow-y: auto;
    background-color:   var(--blanco);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: 'block'; /* Oculta la lista por defecto */
    position: absolute; /* Para que se superponga a otros elementos si es necesario */
    width: 100%;
    z-index: 10; /* Asegura que la lista esté por encima de otros elementos */
}

.listaResultados li {
    padding: 10px;
    cursor: pointer;
    color: var(--negro);
    border-bottom: 1px solid  rgba(99, 99, 99, 0.5);
}

.listaResultados li:last-child {
    border-bottom: none;
}

.listaResultados li:hover {
    background-color: #cacaca;
}