RewriteEngine On
# RewriteBase /carnes/

# Evitar que las reglas del dominio principal afecten al subdominio
RewriteCond %{HTTP_HOST} ^docs\.pilarica\.pilarica\.com\.mx$ [NC]
RewriteRule .* - [L]

# Reglas propias del subdominio
#RewriteBase /

# Redirige todo excepto archivos y carpetas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Envía todo a index.php
RewriteRule ^ index.php [QSA,L]
